<section class="acerca-de m-2 border  rounded">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-3">
                <h3>Cristhian Genez</h3>
                <p>Full Stack Developer Jr</p>
                <p>Argentina Programa</p>
                
            </div>
            <div class="col-9 mx-auto">
                <h4>Acerca de mi</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione delectus porro quae aut eos quaerat adipisci, nulla molestiae possimus commodi, officiis accusamus dignissimos error qui odio autem fugit, dolorem id!.</p>
            </div>
          
        </div>
    </div>
</section>