<section class="experiencia mx-2 border p-2 m-1 rounded">
    <div class="container">
        <h4>Experiencia</h4>
        <div class="row d-flex align-items-center ">
            <div class="col-lg-1">
                <img src="../../../assets/img/backend.png" alt="logo" width="50">
            </div>
            <div class="col-lg-11">
                
                <h5>Backend-Developer</h5>
                <p>Medio Tiempo</p>
                <p>Noviembre 2019 - Actualidad</p>
                <address>Buenos Aires - Argentina</address>
            </div>
          
        </div>
    </div>
</section>
