<section class="educacion m-2 border p-2 m-1 rounded">
    <div class="container">
        <h4>Hard y Soft Skills</h4>
        
        <div class="row text-center">
            <div class="col-md-4">
                <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [title]="'90'"
                    [subtitle]="'HTML'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="col-md-4">
                <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [title]="'80'"
                    [subtitle]="'CSS'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="col-md-4">
                <circle-progress
                    [percent]="70"
                    [radius]="100"
                    [title]="'70'"
                    [subtitle]="'BOOSTRAP'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-md-4">
                <circle-progress
                    [percent]="60"
                    [radius]="100"
                    [title]="'60'"
                    [subtitle]="'JS'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="col-md-4">
                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [title]="'50'"
                    [subtitle]="'TYPESCRIPT'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="col-md-4">
                <circle-progress
                    [percent]="50"
                    [radius]="100"
                    [title]="'50'"
                    [subtitle]="'JAVA'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-md-4">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [title]="'100'"
                    [subtitle]="'TRABAJO EN EQUIPO'"
                    [subtitleFontSize]="'18'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#5A92CD'"
                    [innerStrokeColor]="'#83D3EC'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="col-md-4">
                <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [title]="'90'"
                    [subtitle]="'ADAPTACION'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#AC95C9'"
                    [innerStrokeColor]="'#C995B2'"
                    [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="col-md-4">
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [title]="'100'"
                    [subtitle]="'EMPATIA'"
                    [subtitleFontSize]="'20'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#50B8D8'"
                    [innerStrokeColor]="'#ED9F48'"
                    [animation]="true"
                    [animationDuration]="300"
                >
                </circle-progress>
            </div>
        </div>
        
        
    </div>
</section>
